// Default
.btn {
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-inline: 1rem;
  height: 36px;
  font-size: 1rem;
  font-weight: 400;
  font-family: Inter, sans-serif;
  background-color: var(--clr-neutral);
  color: var(--clr-neutral-contrast);
  box-shadow: inset 0 0 0 1px var(--clr-neutral-border);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  box-sizing: border-box;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.btn::after {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.2s, box-shadow 0.3s cubic-bezier(.25, 0, 0, 1);
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px transparent;
  border-radius: 4px;
}

@media (hover: hover) {
  .btn:not([disabled]):hover::after {
    background-color: var(--clr-neutral-hover);
  }
}

.btn:focus-visible::after {
  background-color: var(--clr-neutral-hover);
  box-shadow: inset 0 0 0 3px var(--clr-neutral-border-focus);
}

.btn:focus-visible {
  outline: none;
}

// Disabled
.btn[disabled] {
  background-color: var(--clr-disabled);
  color: var(--clr-disabled-contrast);
  cursor: default;
}

// Icon
.btn-icon {
  padding: 0;
  font-family: 'Material Icons';
  font-size: 1.5rem;
  box-shadow: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btn-icon::after {
  border-radius: 50%;
  box-shadow: none;
}

.btn-icon:disabled {
  background-color: transparent;
}

// Primary
.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-primary-contrast);
  border: none;
  box-shadow: 0 2px 3px hsl(0 0% 0% / 0.42);
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
}

.btn-primary:active {
  box-shadow: 0 4px 10px 1px hsl(0 0% 0% / 0.36);
}

@media (hover: hover) {
  .btn-primary:hover::after {
    background-color: var(--clr-primary-hover);
  }
}
  
.btn-primary:focus-visible::after {
  background-color: var(--clr-primary-hover);
  box-shadow: inset 0 0 0 3px var(--clr-primary-border-focus);
}

// Small
.btn-small {
  font-size: .75rem;
  height: 28px;
  padding-inline: .75rem;
}

.btn-icon-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  width: 24px;
  height: 24px;
}